<h1>Tamagotchi</h1>

<p>What is your Tamagotchi's name?</p>

<form action="/tamagotchi" method="post">
  <label for="name">name</label>
  <input id="name" name="name" type="text">

<p>How long has it been since you last visited?</p>

  <label for="visit">visit</label>
  <input id="visit" name="visit" type="text">

<!-- <p>What is the food level?</p>

  <label for="food_level">food level</label>
  <input id="food_level" name="food_level" type="text"> -->

  <button type="submit">Enter</button>

</form>

<!-- "food_level" = 10
@sleep_level = 10
@activity_level = 10 -->
