<h1>Your Tamagotchi's name is:</h1>
<h1><%= @name %></h1>

<!-- <h1>It has been <%= @visit %> hours since your last visit</h1> -->

<h1><%= @name %>'s food level is <%= @food_level %></h1>

<p><a href="/" >Back</a></p>
